.banner {
    background-image: linear-gradient(#0d0d0d, rgba(0, 0, 0, 0.38), #0d0d0d), url("images/banner1.png");
    margin-top: 40px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Noto Sans', sans-serif !important;
    min-width: 90%;
    text-shadow: 0px 0px 15px black;
}

#rQuote {
    font-size: 7vw;
}

#loader {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    background: black;
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
    position: absolute;
    z-index: 2;
}

    #loader div {
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #3498db;
        width: 30px;
        height: 30px;
        /* animação (troque a velocidade de acordo com os segundos) */
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        /* alinhamento centralizado */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}