@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700&display=swap');
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    /*font-family: raleway,Helvetica,Arial,sans-serif;*/
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.1px;
    line-height: 1.5;
    color: #eff4ff !important;
    background: #0d0d0d;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.row_nostack {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 375px;
    max-width: 900px;
    height: auto;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

.col-s-2-5 {
    width: 33%;
}

.col-country {
    width: 50%;
}

.col-s-product {
    width: 100%;
}

@media only screen and (min-width: 570px) {
    .col-s-product {
        width: 50%;
    }
}


/* For tablets: */

@media only screen and (min-width: 700px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-country {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .col-s-2-5 {
        width: 20%;
    }
    .col-s-product {
        width: 50%;
    }
}


/* For desktop: */

@media only screen and (min-width: 1015px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-country {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .col-2-5 {
        width: 20%;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.product {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 98%;
    background-color: #141414;
    border-radius: 3px;
    padding: 0px 0px 20px 0px;
}

.product img {
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

.border {
    background-color: #141414;
    border-radius: 3px;
    padding: 0px 0px 20px 0px;
}

hr {
    width: 100%;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

.desktopnav {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: block;
}

.desktopnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.desktopnav li {
    float: left;
}

.desktopnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.desktopnav li a:hover {
    color: #58afd1;
    cursor: pointer;
}

.mobilenav {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: all .5s ease-in-out;
    height: 400px;
    display: none;
}

.mobilenavhide {
    transition: all .5s ease-in-out;
    height: 0;
}

.mobilenav ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    overflow: hidden;
}

.mobilenav li a {
    display: block;
    color: white;
    text-align: left;
    margin: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

.mobilenav li a:hover {
    color: #58afd1;
    cursor: pointer;
}

.showhidenav {
    position: inherit;
    top: 0;
    right: 0;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 700px) {
    .mobilenav {
        display: block;
    }
    .showhidenav {
        display: block;
    }
    .desktopnav {
        display: none;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.fade-in {
    animation: fadeIn ease 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}